@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;800&display=swap");

body {
	background: linear-gradient(101.23deg, #532ee7 17.61%, #2600bf 99.55%);
    color: white;
    padding: 150px;
    /* background-color: #676eff; */
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Urbanist", sans-serif;
}