@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;800&display=swap");

* {
  font-family: "Urbanist", sans-serif;
}

/* Pour les composants bar (desktop and mobile) */
.active div {
	background-color: #532ee7;
}
body {
  cursor: url("./icons/crusor/custom_cursor.svg"), auto;
}

button {
  cursor: url("./icons/crusor/custom_hand_white.svg"), auto;
}
.dev-button {
  cursor: url("./icons/crusor/custom_hand.svg"), auto;
}
canvas {
	cursor: url("custom_cursor.svg"), auto;
}
.menu {
  cursor: url("./icons/crusor/custom_hand_white.svg"), auto;
}
.peer {
  cursor: url("./icons/crusor/custom_hand_white.svg"), auto;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #532ee7;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #e2e2e2;
	border-radius: 6px;
}